public_html/documents/*
*.pdf
*.txt
*.doc
*.docx
*.xls*
public_html/documents/cornerstone-lease.pdf
public_html/graphics/
public_html/graphics/xcf-files/
public_html/images/
all-images/
all-images/
.sass-cache/
