body {
  background-color: #b31b1b;
}

#body-container {
	width:90%;
	padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-bottom:none;
  overflow:auto;
  color: #000;
}

#banner {
  background-image:url('../../graphics/cornerstone-properties.gif');
  background-repeat:no-repeat;
  background-color:#e6e6e6;
  margin:auto;
  height:100px;
}

.red {
	color: #b31b1b;
}
.gray {
  background-color: #eee;
}

.bg-red {
  background-color: #b31b1b;
}

.bg-gray {
  background-color: #eee;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-yellow {
  background-color: #ffffc2;
}

.bg-vanilla {
  background-color: #f3e5ab;
}

.borders-all {
  border: 1px solid #000;
}

.small-black-borders-all {
  border: 1px solid #000;
}

.border-top-black {
  border-top: 1px solid #000;
}

.border-bottom-black {
  border-top: 1px solid #000;
}

.border-top-red {
  border-top: 2px solid #b31b1b;
}

.border-bottom-red {
  border-bottom: 2px solid #b31b1b;
}

.small {
	font-size: .8em;
}

p {
  color: #000;
}

ul {
  color: #000;
}

li {
  color: #000;
}

h1 {
  font-size: 1.5em;
  color: $red;
  font: "Georgia, Arial, Serif;"
}

h2 {
  font-size: 1.3em;
  color: $red;
  font: "Georgia, Arial, Serif;"
}

h3 {
  font-size: 1.2em;
  color: $red;
  font: "Georgia, Arial, Serif;"
}

/****** over-ride or enhance foundation css stuff *******/

.row {
  color: #fff;
}
