
/* these mimic Foundations media queries */



  /* Mobile - smaller phone viewpoints */
  /* */
@media screen and (min-width: 320px)  {
    .large-screen {
      display: none;
    }
    .mobile-screen {
      display: block;
    }
}



  /* Mobile - small devices and most phones */
  /* */
@media screen and (min-width: 480px)  {
   .large-screen {
      display: none;
    }
    .mobile-screen {
      display: block;
    }
}



  /* Most tablets */
  /* */
@media screen and (min-width: 768px)  {
   .large-screen {
      display: none;
    }
    .mobile-screen {
      display: block;
    }
}



  /* Desktops: smaller desktop viewpoints */
  /* */
@media screen and (min-width: 992px) {
    .large-screen {
      display: block;
    }
    .mobile-screen {
      display: none;
    }
    .ls-border-left {
      border-left: solid 2px #b31b1b;
    }
}


  /* Desktops with large screens and wide screens */
  /* */
@media screen  and (min-width: 1200px) {
    .large-screen {
      display: block;
    }
    .mobile-screen {
      display: none;
    }
    .ls-border-left {
      border-left: solid 2px #b31b1b;
    }
}