/* colors  */
$green: #336400;
$red: #b31b1b;
$error_red: #b31b1b;
$black: #000;
$white: #fff;
$blue: #369;
$yellow: #ffff99; /* light yellow */
$grey: #eeeeee;
$lt_grey: #e6e6e6;
$dark_grey: #a4a4a4;
$bg_grey: #8c8781;

/* background colors */
$bg_green: #e4f9e5;
$bg_red: #b31b1b;
$bg_yellow_green: #c5db5f;
$bg_vanilla: #f3e5ab;